:root {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px; 
}

.form input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.25s ease;
}

.form input:hover { border-color: #000; }
.form input:focus { border-color: #4e75ff; }

.form button {
  padding: 8px 20px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.form button:hover { background-color: #6c8cff; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; 
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1128px; 
}

.gallery-item {
  width: calc((100% - 48px) / 3); 
  border: 1px solid #808080;
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-info {
  display: flex;
  justify-content: space-around;
  padding: 4px 0;
  background-color: #fff;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  color: #2e2f42;
}

.info-item b {
  font-weight: 600;
  font-size: 12px;
}

.info-item span {
  font-weight: 400;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #4e75ff; 
  border-radius: 50%;
  display: none; 
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 20px auto; 
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader.is-visible {
  display: block;
}